<h1>Pokemons from API</h1>

<%= form_tag api_pokemons_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter Pokemon Name" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @pokemons.each do |pokemon| %>
    <tr>
      <td><%= link_to pokemon.dig('name'), api_pokemon_path(pokemon.dig('name')) %></td>
    </tr>
  <% end %>
</table>
<br />
<%= page_entries_info @pokemons %>
<%= will_paginate @pokemons %>

