<h1>Pokemons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Base Experience</th>
    <th>Height</th>
    <th>Default</th>
    <th>Order</th>
    <th>Weight</th>
    <th>Location Area Encounter</th>
  </tr>

  <% @pokemons.each do |pokemon| %>
    <tr>
      <% cache pokemon do %>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.base_experience %></td>
        <td><%= pokemon.height %></td>
        <td><%= pokemon.is_default ? "Yes" : "No" %></td>
        <td><%= pokemon.order %></td>
        <td><%= pokemon.weight %></td>
        <td><%= pokemon.location_area_encounters %></td>
        <td><%= link_to 'Show', pokemon %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
        <td><%= link_to 'Destroy', pokemon, :confirm => 'Are you sure?',
                        :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br />
<%= page_entries_info @pokemons %>
<%= will_paginate @pokemons %>
<br />

<%= link_to 'New Pokemon', new_pokemon_path %>
